{% extends 'main.html' %}

{% block title%} OTS- CODIDATE Home Page {%endblock title%}
{% block top%}
    <a href="{% url 'OTS:home' %}">Signup</a>
    <a href="{% url 'OTS:logout' %}">logout</a>
{%endblock%}
{% block content%}
    <h1>Welcome {{request.session.name}}, to your home page</h1>
    <div class="button-link">
        <a href="{% url 'OTS:testPaper' %}?n=1">Test of 1 Question</a>
    </div>
    <div class="button-link">
        <a href="{% url 'OTS:testPaper' %}?n=3">Test of 3 Question</a>
    </div>
    <div class="button-link">
        <a href="{% url 'OTS:testPaper' %}?n=5">Test of 5 Question</a>
    </div>

    <div class="button-link">
        <a href="{% url 'OTS:testHistory' %}">testHistory</a>
    </div>
{%endblock%}