{% extends 'main.html' %}

{% block title%} Welcome to Online Testing System {%endblock title%}
{% block top%}
<a href="{% url 'OTS:registrationForm' %}">Signup</a>
<a href="{% url 'OTS:login' %}">Login</a>


{%endblock%}
{% block content%}

<div class="heading">
    <h2>Welcome to Online Testing System</h2>
</div>

<div class="Desc">
    <p>Online Testing System is a platform 
        where you can take tests and quizzes online. 
        You can also create your own tests
        and quizzes and share them with others.
    </p>
</div>
{%endblock%}