form{
    margin-top: 20px;
    box-sizing: border-box;
    padding: 20px;
    background-color: #AFD275;
    display: table;
    width: 100%;
}

input{
    display: block;
    width: 100%;
    margin-bottom: 20px;
    height:30px;
    font-size: 22px;
}

.question{
    color: #F64C72;
    font-size: 22PX;
    /* margin-bottom:20px; */
}

.option{
    font-size: 22px;
    display: flex;
    align-items:center;
}

.option input{
    display: inline;
    width: fit-content;
    height: 10px;
}